@import "../../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .count {
    font-size: 1.25em;
    font-weight: bold;
  }

  &[data-listing-type="new"] {
    .count {
      color: $color-blue;
    }
  }

  &[data-listing-type="active"] {
    .count {
      color: $color-green;
    }
  }

  &[data-listing-type="removed"] {
    .count {
      color: $color-red;
    }
  }
}
