<tr>
    <td>
        <div class="course-name">{{courseData?.name}}</div>
        <app-date-format [date]="courseData?.date"
                         format="FULL"></app-date-format>
    </td>
    <td>
        <app-list-type [listType]="courseData?.listType"></app-list-type>
    </td>
    <ng-container *ngIf="isEmpty; then emptyContent else dataContent"></ng-container>
    <ng-template #emptyContent>
        <td colspan="6">אין עדיין נרשמים</td>
    </ng-template>
    <ng-template #dataContent>
        <td>
            <app-listings-data dataType="ACTIVE"
                               [count]="courseData?.active"></app-listings-data>
        </td>
        <td>
            <app-listings-data dataType="NEW"
                               [count]="courseData?.new"></app-listings-data>
        </td>
        <td>
            <app-listings-data dataType="REMOVED"
                               [count]="courseData?.removed"></app-listings-data>
        </td>
        <td>
            <app-listings-data dataType="BLOCKED"
                               [count]="courseData?.blocked"></app-listings-data>
        </td>
        <td>
            <app-listings-data dataType="STOPPED"
                               [count]="courseData?.stopped"></app-listings-data>
        </td>
        <td>
            <app-listings-data dataType="TOTAL"
                               [count]="courseData?.total"></app-listings-data>
        </td>
    </ng-template>
</tr>
