@import "../../scss/variables";

:host {
  display: contents;;

  tr {
    vertical-align: middle;
    border-style: solid;
    border-width: 1px 0;
    border-color: lighten($color-default, 20);

    td {
      padding: 1rem;
    }
  }

  &.is-all-list {
    tr {
      border-bottom: 2px solid $color-green;
    }

    .course-name {
      color: inherit;
    }
  }
}

.course-name {
  font-size: 1.125rem;
  font-weight: bold;
  color: $color-blue;
}
