@import "../scss/variables";

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: middle;
  font-size: 0.75rem;
  color: $color-default;
}
