<div class="app-container">
    <table>
        <tbody>
        <app-course-row *ngFor="let course of courses$|async"
                        [courseData]="course"></app-course-row>
        </tbody>
    </table>
</div>
