<ng-container *ngIf="hasListType()">
    <app-list-type-icon class="list-icon"
                        [listType]="listType"></app-list-type-icon>
    <app-cell-data [text]="getListTypeName()"></app-cell-data>
</ng-container>
