<ng-container *ngTemplateOutlet="templateFormat"></ng-container>
<ng-template #formatDefault>
    {{date?.toLocaleString()}}
</ng-template>
<ng-template #formatFull>
    {{date?.getDate()}}/{{date?.getMonth()}}/{{date?.getFullYear()}} ב- {{date?.getHours()}}:{{date?.getMinutes()}}
</ng-template>
